:root {
  --dark: #181818;
  --red: #f74d4d;
  --gray: #d2d2d240;
  --green: #56c05a;
}

.bg-var-dark {
  background-color: var(--dark) !important;
}
.bg-var-red {
  background-color: var(--red) !important;
}
.bg-var-gray {
  background-color: var(--gray) !important;
}
.bg-var-green {
  background-color: var(--green) !important;
}

#gap {
  margin-top: 170px !important;
}

.btn.btn-danger {
  background-color: #f74d4d !important;
}

.card.bg-secondary.mt-5.p-4 {
  background-color: #181818 !important;
}

.btn.btn-primary.px-5 {
  background-color: #f74d4d !important;
}
